<%-include("header") -%>
    <div class="box" id="heading">
  <h1><%=headingOfThePage%></h1>
   </div>

<div class="box">
    <%inputTextItem.forEach((inputTextItem)=>{%>
        <div class="item">
            <input type="checkbox">
            <p> <%=inputTextItem%> </p>
        </div>
    <%})%>

    <form action="/" method="post" class="item">
        <input type="text" name="inputText" autocomplete="off" placeholder="type what you need">
        <button class="buttonDelete" type="submit" name="btn" value=<%= headingOfThePage %> >+</button>
    </form>
</div>
<%-include("footer")-%>
    
